{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Details of "{{ pot['pot_name'] }}" Pot{% endblock %}</h1>
  {% if g.user %}
    <button type="button" onclick="window.location.href='{{ url_for('home.index') }}'">Back to Pots</button>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1>{{ pot['plant'] }}</h1>
        </div>
      </header>
      <h1>Sensor Measurements</h1>
      <ul>
        <li>Humidity measurement: {{ sensor_measurement['humidity'] }} %</li>
        <li>Acidity measurement: {{ sensor_measurement['acidity'] }} pH</li>
        <li>Light measurement: {{ sensor_measurement['lux'] }} Lux</li>
      </ul>
      {% for plant in plants_list %}
        {% if plant['name'] == pot['plant'] %}
          <img src="data:image/jpeg;base64,{{ plant['image'].decode('utf-8','ignore') | safe }}" alt="Plant Image">
        {% endif %}
      {% endfor %}
      <div>
        <img src="data:image/png;base64,{{ data }}" alt="graph">
      </div>
      <form method="POST">
        <div>
          <button type="submit" name='line' value="line">Line</button>
          <button type="submit" name='pie' value="pie">Pie</button>
          <button type="submit" name='histo' value="histo">Histogram</button>
        </div>
      </form>
    </article>
{% endblock %}