{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Flower pots{% endblock %}</h1>
  {% if g.user %}
    <button type="button" onclick="window.location.href='{{ url_for('home.create') }}'">Add New Pot</button>
    <button type="button" onclick="window.location.href='{{ url_for('plants.index') }}'">View Plants</button>
  {% endif %}
{% endblock %}

{% block content %}
  {% for pot in flower_pots %}
    <article class="post">
      <header>
        <div>
          <h1>{{ pot['pot_name'] }}</h1>
        </div>
        {% if g.user %}
          <button type="button" onclick="window.location.href='{{ url_for('home.update', id=pot['id']) }}'">Edit</button>
          <button type="button" onclick="window.location.href='{{ url_for('home.details', id=pot['id']) }}'">Details</button>
        {% endif %}
      </header>
      <p class="body">{{ pot['plant'] }}</p>
      {% for plant in plants_list %}
        {% if plant['name']==pot['plant'] %}
          <img src="data:image/jpeg;base64,{{ plant['image'].decode('utf-8','ignore') | safe }}" alt="Plant Image">
          <div>
            <h3> Status: {{ pot['status'] }}</h3>
          </div>
        {%  endif %}
      {% endfor %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}